<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="menuStyles.css" />
    <link rel="stylesheet" href="headerStyles.css" />
    <link rel="stylesheet" href="cartStyles.css" />
  </head>

  <body>
    
    <table>
      <div th:replace="fragments/layout :: siteHeader"></div>
    <!--========Apples Catalogue=================-->
    <h1>Apples</h1>
    <table class="checkoutCart">
        <tr class="header">
            <td>Image</td>
            <td>Product name</td>
            <td>Price ($)</td>
            <td>Quantity</td>
            <td>Add to Cart</td>
        </tr>
        <tr>
            <td><img src="img/CHINA-FUJI-APPLE.jpg" height="100px"></td>
            <td> China Fuji Apple (5 per pack)</td>
            <td> 3.45</td>
            <td> 
                <button class="qtyMinus">-</button>
                <span class="qty">0</span>
                <button class="qtyPlus">+</button> 
            </td>
            <td>
                <button type="submit" class="addItem"></button>
            </td>
        </tr>
        <tr>
            <td><img src = "img/Enza-envy-apple.jpg" height = "100px"></td>
            <td> Enza Envy Apple (5 per pack)</td>
            <td> 6.45</td>
            <td> 
                <button class="qtyMinus">-</button>
                <span class="qty">0</span>
                <button class="qtyPlus">+</button>    
            </td>
            <td>
                <button type="submit" class="addItem"></button>
            </td>
        </tr>
        <tr>
            <td> <img src = "img/candy-apple.jpg" height="100px"></td>
            <td> South Africa Candy Apple (5 per pack)</td>
            <td> 5.30</td>
            <td>  
                <button class="qtyMinus">-</button>
                <span class="qty">0</span>
                <button class="qtyPlus">+</button>
            </td>
            <td>
                <button type="submit" class="addItem"></button>
            </td>
        </tr>
    </table>
  </body>
</html> 