<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div th:replace="~{fragments/layout :: siteHeader}"></div>

    <div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-8">
          <div class="card shadow-sm">
            <div class="card-body p-5">
              <h1 class="h4 text-center mb-4">Sign in</h1>

              <form th:action="@{/login}" method="post">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    class="form-control"
                    id="username"
                    name="username"
                    type="text"
                    autocomplete="username"
                    required
                    autofocus
                  />
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    class="form-control"
                    id="password"
                    name="password"
                    type="password"
                  />
                </div>

                <button class="btn btn-primary btn-block" type="submit">
                  Sign in
                </button>
              </form>

              <hr class="my-3" />
              <div class="d-flex align-items-center">
                <a
                  class="btn btn-link btn-sm"
                  href="http://localhost:5173/forgot-password"
                >
                  Forget Password
                </a>
                <a
                  class="btn btn-link btn-sm ml-auto"
                  href="http://localhost:5173/register"
                >
                  Create an account
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
