<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Details</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div th:replace="fragments/layout :: siteHeader"></div>
    <h2 class="text-center my-4"> Order details </h2>
    <div class="mx-auto px-5" style="max-width: 75%; padding-top: 50px">
    <table class="table table-hover table-bordered table-condensed">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="orderItem : ${orderItems}">
          <td th:text="${orderItem.id}" />
          <td th:text="${orderItem.product.name}" />
          <td th:text="'$'+ ${#numbers.formatDecimal(orderItem.product.unitPrice,1,2)}"/>
          <td th:text="${orderItem.quantity}" />
          <td th:text="'$'+ ${#numbers.formatDecimal(orderItem.itemTotal,1,2)}" /> 
          <td>
            <a
              th:href="@{/catalogue/{id}#review-section(id=${orderItem.product.id})}"
              class="btn btn-sm btn-outline-primary"
              th:text="${reviewStatusMap[orderItem.product.id] ? 'View Review' : 'Leave Review'}"
            >
            </a>
          </td>
        </tr>

      </tbody>

    </table>
    </div>
    <div class="container-lg" style="text-align: center; padding-top: 100px;">
    <a
      th:href="@{/order/history}"
              class="btn btn-secondary">
            Back to Orders
        </a>
        </div>
    
  </body>
</html>
