<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order History</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div th:replace="fragments/layout :: siteHeader"></div>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Id</th>
          <th>Status</th>
          <th>Total Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="order : ${orders}">
          <td th:text="${order.createdAt.toLocalDate()}"></td>
          <td th:text="${order.createdAt.toLocalTime()}"></td>
          <td th:text="${order.id}"></td>
          <td th:text="${order.status}"></td>
          <td th:text="${order.grandTotal}"></td>
          <td>
            <a
              th:href="@{/order/history/{id}(id=${order.id})}"
              class="btn btn-sm btn-outline-primary"
              >View details</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
