<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order History</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div th:replace="fragments/layout :: siteHeader"></div>
    <h2 class="text-center my-4"> Order History </h2>
    <div class="mx-auto px-5" style="max-width: 75%; padding-top: 50px">
    <table class="table table-hover table-bordered table-condensed">
      <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Id</th>
          <th>Status</th>
          <th>Total Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="order : ${orders}">
          <!-- Format using Thymeleaf's #temporals for java.time types -->
          <td th:text="${#temporals.format(order.createdAt, 'dd MMM yyyy')}"></td>
          <td th:text="${#temporals.format(order.createdAt, 'hh:mma')}"></td>
          <td th:text="${order.id}"></td>
          <td th:text="${order.status}"></td>
          <td th:text="${'$' + #numbers.formatDecimal(order.grandTotal,1,2)}"></td>
          <td>
            <a
              th:href="@{/order/history/{id}(id=${order.id})}"
              class="btn btn-sm btn-outline-primary"
              >View details</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
