<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>View Products List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div th:replace="fragments/layout :: siteHeader"></div>
    <div style="padding: 50px">
    <h2 style="text-align: center; margin-top: 20px"><u>Search Results</u></h2>

    <div
      th:if="${#lists.isEmpty(products)}"
      style="text-align: center; margin-top: 10%"
    >
      <h4>No Results</h4>
      <a th:href="@{/catalogue}" class="btn btn-primary mt-4;">Back</a>
    </div>

    <div class="container" th:if="${not #lists.isEmpty(products)}"></div>
    <div class="row">
      <div class="col-md-4 mb-4" th:each="p : ${products}">
          <div class="card">
            <img
              th:src="@{${p.imageUrl}}"
              class="card-img-top"
              alt="watch"
              style="width: 200px; height: 200px; object-fit: cover"
            />
            <div class="card-body">
              <h5 class="card-title" th:text="${p.name}"></h5>
              <p class="card-text" th:text="${p.description}"></p>
              <p class="card-text" th:text="${p.unitPrice}"></p>
              <a th:href="@{/catalogue/{id}(id=${p.id})}" class="btn btn-primary"
                >View detail</a
              >
            </div>
          </div>
        </div>
      </div>

        </div>
      </div>
    </div>
  </body>
</html>
