<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div th:replace="fragments/layout :: siteHeader"></div>
    <h1>Congratulations, successful routing!</h1>

    <h2>
      hello, <span th:text="${greetCustomer.username}" /> welcome to my shopping
      cart
    </h2>
  </body>
</html>
